    <!-- Header -->
    <header>
        <div class="container">
            <div id= "intro-container" class="intro-text">
                <!--img class="main-avatar" src="img/me-nofeatures.svg" alt=""-->
                <div class='main-avatar'>                

                </div>

                <div class="homeStarLine">


                
            </div>
            <div id="intro-text-container" class="intro-text">
                <div class="hello-text">
                    <h1>{{ site.hello_msg }}</h1>
                </div>
                <div class="typewriter">
                    <h1>{{ site.skills }}</h1>
                </div>                
            </div>

        </div>
    </header>